/*Grid*/
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    [class*="col-"] {
        float: left;
        padding: 15 px;
    }
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*Algemene layout*/
body{
    background-color: purple;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
@media only screen and (min-width: 768px) {
    body{
        background-color: rgb(249, 223, 130);
    }
}
header, section, footer{
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;    
    margin: 10px;
    border-radius: 10px;
    border-style: double;   
    min-height: 100px;
}
/*Header specifieke layout*/
header{
    font-family: Catamaran; font-size: 34px; color: black;     
}
.header {
   background-image: url('../afbeeldingen/Street_in_Babylon.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
h1{
    color: white;

}
/*Centrale deel (middelste rij) specifieke layout*/
#content{
    display: flex;
    padding-top: 15px;
}

/* Centrale deel linker panel*/
#linker_panel{
    min-height: 300px;
    background-color: green;
    word-break: break-all; /*op klein scherm splitsen we woorden over regels*/
}
@media only screen and (min-width: 768px) {
    #linker_panel{
           word-break: normal;
    }
}
#vijf_feitjes ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}
#vijf_feitjes li {
    margin: 7px;
    color: white;
    text-align: center;
}
/* Centrale deel rechter panel*/
#rechter_panel{
    min-height: 300px;
    background-color: pink;    
}
@media only screen and (min-width: 768px) {
    #rechter_panel{
        display: flex; /*alleen op groot scherm tonen we artikelen naast elkaar*/
    }
}

img{
    float: right;
    width: 50%;
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
}
@media only screen and (min-width: 768px) {
    img{
        width: 30%; /*op groot scherm kan het plaatje kleiner t.o.v. de tekst*/
    }
}
.attractie {
    min-height: 150px;    
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;    
    margin: 10px;
}

/*Footer specifiek*/
footer{
    background-color: white;
    float: clear;
}
