/*Algemene layout*/
body{
    background-color: rgb(234, 233, 252);
    font-family: Verdana, sans-serif; font-size: 18px; color: black;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
section, footer, header{
    background-color: white;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;    
    margin: 15px;
    border-radius: 10px;
    border-style: double;   
}
/*Lijsten*/
ul a{
    color: white;
    text-decoration: none;
}
li{
    display: inline-block;
    height: 22px;
    width: 100px;
    padding: 12px;
    text-align: center;
    color: white;
    border-style: none;
    background-color: rgb(1, 1, 155);
}
li:hover{                
    background-color: rgb(43, 147, 43);
    border-left: 3px solid red;
    border-right: 3px solid red;    
}            
/*Afbeeldingen en tabellen*/
img{
    float: left;
    margin-right: 10px;
}
table{
    border-collapse: collapse;
}
td, th{
    padding: 10px 5px;
    text-align: left;    
}
/*Formulieren*/
input[type="text"], input[type="email"], textarea, button{
    display: block;
    margin: 15px 0px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 5px;              
}
textarea{
    height: 100px;
    padding: 5px 4px;
}
button:active{
    background-color: purple;
    color: white;
    border-radius: 1px; box-shadow: inset 3px 3px 5px yellow;
}
